.about__description{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

/*Responsividade*/
@media screen and (min-width: 0) {
    .about__description{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .about__description{
        font-size: 1.75rem;
    }
}
