.about__title{
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
}

/*Responsividade*/
@media screen and (min-width: 0) {
    .about__title{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .about__title{
        font-size: 3.1875rem;
    }
}
