.banner__title {
    font-family: Pacifico, cursive;
    color: #fdfdfd;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

/*Responsividade*/
@media screen and (min-width: 0) {
    .banner__title{
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__title{
        font-size: 5.0625rem;
    }
}
