.banner__image {
    background: url("../../Img/Banner.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

/*Responsividade*/
@media screen and (min-width: 0) {
    .banner__image{
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__image{
        height: calc(100vh - 72px);
    }
}
