.footer{
    background-color: #bfbfbf;
    color: #fdfdfd;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
}

/*Responsividade*/
@media screen and (min-width: 0) {
    .footer{
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .footer{
        text-align: right;
    }
}