.recipes{
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
}

/*Responsividade*/
@media screen and (min-width: 0) {
    .recipes{
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .recipes{
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .recipes{
        padding: 5rem 0 0 5rem;
    }
}