.recipe__button{
    background-color: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
}

.recipe__button:hover{
    background-color: #620404;
    cursor: pointer;
}