.recipe {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.75);
}

/*Responsividade*/
@media screen and (min-width: 0) {
    .recipe{
        margin-right: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .recipe{
        margin-right: 5rem;
        width: calc(33.3% - 5rem);
    }
}
